<section class="dashboard-container">
    <div class="dashboard-header">
        Posts
    </div>
    <div class="table-headers">
        <th>Title</th>
        <th>Date Created</th>
        <th>Owner</th>
    </div>
    <div class="table-body">
        {{#each posts as |post|}}
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{user.name}}</td>
            <td><a href="/editPost/{{id}}" class="btn">Edit</a></td>
            <td><a href="/deletePost/{{id}}" class="btn">Delete</a></td>
        </tr>
        {{/each}}
    </div>
    <div class="btnCreatePost">
        <a href="/createPost">Create Post</a>
    </div>
</section>