<div class="post-body">
  <form id="editPostForm">
    <div class="edit-post-container">
      <div class="edit-post-id-con">
        <div class="post-id-title">Edit Post
          <label id="labelPostID">#{{post.id}}</label>
        </div>
      </div>
      <div class="edit-post-title">
        <label for="textTitle" class="title-desc">Title</label>
        <input
          type="text"
          id="textTitle"
          class="title-post"
          value="{{post.title}}"
        />
      </div>
      <div class="edit-post-content">
        <label for="textContent" class="post-content-title">Content</label>
        <textarea
          id="textContent"
          class="post-content"
          rows="10"
        >{{post.content}}</textarea>
      </div>
      <div class="date-created">
        <label for="textDateCreated">Date Created:</label>
        <input
          type="text"
          id="textDateCreated"
          value="{{format_datetime post.date_created}}"
        />
      </div>
      <div>
        <button type="submit" class="edit-submit-btn">Submit</button>
      </div>
    </div>
  </form>

  <div class="comments-container">
    <div class="comments-title">Comments</div>
    <table class="comments-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date Created</th>
          <th scope="col">Content</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tbody>
        {{#each post.comments as |comment|}}
          <tr>
            <th scope="row">{{comment.id}}</th>
            <td>{{format_datetime comment.date_created}}</td>
            <td>{{comment.content}}</td>
            <td>{{comment.user.name}}</td>
            <td>
              <a href="/deleteComment/{{comment.id}}" class="btn">Delete</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script src="/js/editPost.js"></script>